.wrapper {
    background-color: var(--secondary-color);
    color: var(--primary-color);
    padding: 1rem;
    width: 100%;

    border-radius: 6px;
    

  }

  
  .wrapper .header {
    display: flex;
     justify-content: space-between; 
    /* border: 1px solid red; */

  }

  ul {
    list-style: none;
    margin-bottom: 2%;
  }

  li svg {
    color: var(--tertiar-color)
  }

  span {
    font-size: large;
    text-decoration: underline;

  color: var(--tertiar-color);
  }
  
 .wrapper section:nth-last-of-type(1) > span {
    font-size: smaller;
    display: block;
    text-align: right;
    margin-top: 0.5rem;
  }
 span a {
  color: var(--complementary-color);

 }


 