.background {
  height: 40px;
  width: 48px;
  background-color: #fff;
  position: absolute;
  right: 60px;
  top: 30px;
}

.logo {
  height: 80px;
  width: 100px;
  object-fit: contain;
  z-index: 100;
  position: absolute;
  right: 25px;
  top: 11px;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.logo:hover {
  transform: scale(1.2);
  border-radius: 1rem;
}

@media screen and (min-width: 1200px) {
  .background {
    
    right: 15rem;
  
  }
  
  .logo {
    right: 13rem;
    
  }
}